<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                <h5 class="mb-0 align-self-center">Group management</h5>
            </div>

            <div class="card-body">

                <div class="form-group">
                    <label for="roles">Select a group:</label>
                    <select id="roles" class="form-control" (change)="onOptionChange($event)" formControlName="selectedRole">
                    <!-- Default Option -->
                    <option value=  "" disabled selected>Choose a group</option>

                    <!-- Dynamic Options -->
                    <option *ngFor="let group of groups" [value]="group.id">
                    {{ group.groupName }}
                    </option>
                </select>
                </div>

                <div *ngIf="selectedGroup" class="alert alert-info mt-3">
                    {{ selectedGroup }}
                </div>

                <div class="d-flex justify-content-end gap-2 mt-3">
                    <button class="btn btn-primary " (click)="onSubmit()">Export Members</button>
                </div>
            </div>
        </div>
    </div>
</div>