<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between mb-2">
                    <h5 class="mb-0 align-self-center">Group management</h5>
                    <button class="btn btn-primary mt-n2" (click)="onCreateGroup()">Create Group</button>
                </div>
            </div>

            <div class="card-body">

                <div class="form-group">
                    <label for="roles">Select a group:</label>
                    <select id="roles" class="form-control" (change)="onOptionChange($event)" formControlName="selectedRole">
                    <!-- Default Option -->
                    <option value=  "" disabled selected>Choose a group</option>

                    <!-- Dynamic Options -->
                    <option *ngFor="let group of groups" [value]="group.id">
                    {{ group.groupName }}
                    </option>
                </select>
                </div>

                <div *ngIf="selectedGroup" class="alert alert-info mt-3">
                    {{ selectedGroup }}
                </div>

                <div class="d-flex justify-content-end gap-2 mt-3">
                    <div class="text-end mb-3 h-100">
                        <input type="file" id="excelUpload" (change)="onFileSelected($event)" accept=".xls, .xlsx" hidden>
                        <label for="excelUpload" class="btn btn-success">
                        <i class="bi bi-file-earmark-excel"></i> Upload Excel Sheet
                        </label>
                    </div>

                    <button class="btn btn-primary " (click)="onSubmit()">Add Members</button>
                </div>
            </div>
        </div>
    </div>
</div>